.container {
  display: grid;
  justify-items: center;
}

.description {
  display: grid;
  justify-items: center;
}

.description > p {
  text-align: justify;
}

.links{
  display: grid;
  justify-items: center;
  margin-bottom: 20px;
}

.links > a{
  text-decoration: none;
  display: grid;
  justify-items: center;
}

.mapouter{
  display: grid;
  justify-items: center;

}

.gmap_canvas > iframe{
  width:400px;
  height:400px;
}

@media screen and (min-width: 900px){
  
  .links {
      grid-template-columns: repeat(3, 1fr);
  }
  .gmap_canvas > iframe{
    width: 900px;
    height: 500px;
  }

}
