.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}

.links{
  display: grid;
  justify-items: center;
}

.links > a{
  color: #333;
  text-decoration: none;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 900px){
  
  .links {
      grid-template-columns: repeat(3, 1fr);
  }

}
