.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}

.links{
  display: grid;
  justify-items: center;
  margin-bottom: 20px;
}

.links > a{
  color: #333;
  text-decoration: none;
  display: grid;
  justify-items: center;
}

.mapouter{
  /* position:relative; */
  /* text-align:right; */
  display: grid;
  justify-items: center;
  /* height:500px; */
  /* width:600px; */
}

.gmap_canvas {
  /* overflow:hidden; */
  /* background:none!important; */
  height:500px;
  width:900px;
}

@media screen and (min-width: 900px){
  
  .links {
      grid-template-columns: repeat(3, 1fr);
  }

}
