.container {
    display: grid;
    justify-items: center;
}

.motivos {
    display: grid;
    justify-items: center;
    border-bottom: 1px solid #ddd;
}

.motivos > h1 {
    text-align: center;
}

.motivos_items {
    display: grid;
}

.motivos_items > p {
    text-align: justify;
    margin-left: 20px;
}


.kit {
    display: grid;
    justify-items: center;
}

.kit > h1 {
    text-align: center;
}



@media screen and (min-width: 900px){

    .motivos_items {
        grid-template-columns: 2fr 3fr;
    }

    .kit_description {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
    }

    .kit_resumo {
        margin-left: 80px;
    }

   
  }